body {
  background-image: url('../img/footer_lodyas.png');
}

.clear {
  clear: both;
  overflow: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.bottom_container {
  width: 65%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 50px;
  color: #eee;
  text-align: center;
}

#upper-section {
  height: 530px;
}

#board {
  margin: 0 auto;
  height: 200px;
}



.box {
  display: block;
  float: left;
  width: 65px;
  height: 80px;
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: #13700a;
  border: 3px solid #222;
}

.letter {
  text-align: center;
  margin: 10px 0;
  color: #111;
  font-size: 60px;
}

#play {
  display: block;
  width: 125px  ;
  background-color: #ff0032;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
}

.clue {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #00f;
  color: white;
}

#play:hover {
  background-color: #de0000;
}

#play:focus {
  box-shadow: none;
}

#lower-section {
  background-color: rgba(0, 0, 1, .4);
  height: 270px;
}


#guess {
  margin-left: 10px;
  height: 30px;
  width: 100px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 15px;
}

#submit {
  padding: 10px 25px;
  border: none;
}

#spin {
  float: left;
  margin-bottom: 25px;
}

#spin_btn {
  float: left;
  padding: 10px 20px;
  background-color: #ff0032;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 15px;
  text-transform: uppercase;
  border: none;
}

#spin_container {
  float: left;
  width: 200px;
  height: 60px;
  background-color: #aaa;
  border-radius: 6px;
  font-size: 24px;
  text-align: center;
}

label {
  color: white;
  text-transform: uppercase;
}

#player {
  float: left;
}

#guess_section {
  float: left;
}

.name {
  text-transform: capitalize;
  color: #ddd;
}
#score {
  float: right;
}

.wrong {
  height: 20px;
  font-size: 18px;
  color: #de0000;
  font-weight: bold;
}

#letters_heading {
  width: 205px;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

.heading {
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
  color: #eee;
}

#spin_value {
  font-size: 32px;
  margin: 0;
  margin-top: 10px;
}

.active {
  background-color: white;
}

.letters_guessed {
  color: #ddd;
  margin-top: 5px;
}
